.m-auto-center {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.p10 {
  padding: 10px;
}

.t-14 {
  font-size: 14px;
}
.t-18 {
  font-size: 18px;
}
.t-24 {
  font-size: 24px;
}
.t-60 {
  font-size: 60px;
}
.t-120 {
  font-size: 120px;
}
.f-w-600 {
  font-weight: 600;
}

.bg-none {
  background: none;
}

.t-white {
  color: #ffffff;
}

.w100 {
  width: 100%;
}
.w80 {
  width: 80%;
}

.flex {
  display: flex;
}
.justify-cen {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.align-cen {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.border_20 {
  border-radius: 20px;
}
.border_16 {
  border-radius: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.urbanist {
  font-family: Urbanist;
}

.bg-main {
  background: #6056eb;
}

.main-transition {
  transition: 0.3s;
}

.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.zindex0 {
  z-index: 0;
}

.m-bot-10vh {
  margin-bottom: 10vh;
}

.height-80vh {
  height: 80vh;
}

.opacity_08 {
  opacity: 0.8;
}
