@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    color: white;
    font-family: Urbanist;
    font-weight: 600;
}

.circle {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: rgba(96, 86, 235, 0.5);
}

.circle2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #6056eb;
}

.secondbody {
    padding: 0 10%;

    backdrop-filter: blur(5rem);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgb(0, 0, 0)),
        url(/ZIKATWE/img/noice.png);
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: 24px;
}

#logo-text {
    font-size: 18px;
    margin-left: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

#para-intro {
    font-size: 0.7rem;
    color: hsla(0, 0%, 100%, 0.6);
}

#heading-intro {
    font-weight: 800;
    font-size: 8rem;
    margin-top: 36px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    border-bottom: 3px solid hsla(0, 0%, 100%, 0.2);
    background: none;
    outline: none;
    color: white;
    font-family: Urbanist;
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 60px;
    font-weight: 500;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: .2;
}

button {
    cursor: pointer;
    border: none;
    padding: 16px 60px;
    border-radius: 30px;
    color: white;
    font-family: Urbanist;
    background-color: rgb(96, 86, 235);
    font-size: large;
    font-weight: 600;
}

footer {
    margin-top: 300px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

a div {
    height: 24px;
    width: 24px;
    background-color: #fff;
    margin: 16px;
}

p#para-privacy {
    margin-top: 110px;
    text-align: center;

}

p#copyright {
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    font-size: .8rem;
    font-weight: 300;
    opacity: .8;
}

/* TABLET MOD */
@media only screen and (max-width: 900px) {
    body {
        margin: 0;
    }

    .circle {
        height: 300px;
        width: 300px;
    }

    .circle2 {
        height: 150px;
        width: 150px;
    }

    .secondbody {
        backdrop-filter: blur(2rem);
        padding: 0 30px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        height: 26px;
    }

    #logo-text {
        font-size: 22px;
        margin-left: 18px;
    }

    #para-intro {
        font-size: 1rem;
        margin-top: 100px;
    }

    #heading-intro {
        font-size: 7rem;
        margin-bottom: 100px;
    }

    input {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    button {
        padding: 12px 50px;
        font-size: medium;
    }
}



@media only screen and (max-width: 600px) {
    body {
        margin: 0;
    }

    .circle {
        height: 300px;
        width: 300px;
    }

    .circle2 {
        height: 150px;
        width: 150px;
    }

    .secondbody {
        backdrop-filter: blur(2rem);
        padding: 0 30px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        height: 26px;
    }

    #logo-text {
        font-size: 22px;
        margin-left: 18px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-bottom: 120px;
    }

    #para-intro {
        font-size: 0.9rem;
        margin-top: 70px;
    }

    #heading-intro {
        font-size: 5rem;
        margin-bottom: 120px;
    }

    input {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    button {
        padding: 12px 50px;
        font-size: medium;
    }
}