@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  color: black;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 800px;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.quote-text {
  font-size: 2rem;
  font-weight: 700;
}

.long-quote {
  font-size: 1.75rem;
}

.quote-author {
  margin-top: 15px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
}

button {
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(124, 64, 152);
  color: white;
  padding: 15px 50px;
  transition: 350ms;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 0.25rem);
  box-shadow: 0 0.1rem rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }
}
