@import url('main.css');

nav {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

body h1 {
    margin: 20px 0 10px 0;
    font-weight: 500;
    font-size: 3.5rem;
    color: rgb(64, 193, 172);
}

body p {
    color: rgba(64, 193, 172, 0.5);
}

.logo {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 36px;
}

.logo p {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(64, 193, 172);
}

.link-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-section a {
    color: rgb(64, 193, 172);
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    opacity: 60%;
}

main {
    margin: 50px 0 70px 0;
}

.saves {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* .saves section img {
    width: 80%;
} */

section:first-child {
    margin-bottom: 50px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    backdrop-filter: blur(1rem);
    background: linear-gradient(to bottom, rgba(64, 193, 172, 0.3), rgba(64, 193, 172, 0.1)),
        url(img/noice.png);
    box-shadow: 0px 10px 30px 2px rgba(83, 255, 226, 0.02);
    border-radius: 30px;
}

section h3 {
    margin: 30px 0px 20px 0px;
    font-size: 20px;
    font-weight: 500;
}

section img {
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

section p {
    text-align: center;
    font-size: 14px;
}

section span {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}

.btn {
    margin-top: 30px;
    background-color: rgba(64, 193, 172, 0.3);
    padding: 14px 0;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(64, 193, 172);
    font-size: larger;
    font-weight: 800;
}