* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat;
  background-color: #eaf6f6;
}
.nav {
  height: 100px;
  background-color: #66bfbf;
}
.logo {
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: 20px;
  transition: 0.3s;
}
.logo:hover {
  height: 70px;
  top: 15px;
  left: 35px;
}
.navcon {
  position: absolute;
  right: 60px;
  height: 100px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.11);
  font-family: montserrat;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
}

a:hover {
  color: #fff;
  background-color: #ff0063;
  font-weight: 700;
  font-size: 20px;
}

.top-container {
  margin-top: 200px;
  font-family: pecita;
  color: #ff0063;
}
.intro {
  position: relative;
  text-align: center;
  bottom: 30px;
}
/* .profile {
  width: 240px;
  border-radius: 25%;
  margin-bottom: 20px;
} */
h1 {
  font-family: "Nanum Pen Script", cursive;
  font-size: 5rem;
}
p {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: montserrat;
}
.highlight {
  font-weight: 900;
}
.mount {
  width: 40%;
  margin-top: 50px;
}
hr {
  position: relative;
  bottom: 7px;
  border-top-color: #02736d;
  border-style: none;
  border-top-style: solid;
  width: 80%;
  border-width: 5px;
}
#cloud1 {
  position: absolute;
  height: 50px;
  left: 300px;
  top: 450px;
}
#cloud2 {
  position: absolute;
  height: 80px;
  right: 300px;
  top: 400px;
}
#cloud3 {
  z-index: 5;
  position: absolute;
  height: 100px;
  right: 600px;
  top: 550px;
}
.mid-container {
  display: flex;
  justify-content: center;
  font-family: montserrat;
  color: #ff0063;
  margin-top: 100px;
  margin-bottom: 200px;
}
.intro-mid {
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px 0px 30px 0px;
}
h2 {
  font-weight: 600;
  margin: 0px 0px 20px 0px;
}
.introtext {
  color: black;
  font-size: 16px;
  width: 500px;
}
.pad {
  text-align: center;
}
.intro-mid-second {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.intro-mid-second2 {
  margin-top: 100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.h2heading {
  font-size: 30px;
  color: #ff0063;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}
#heading1 {
  color: #1a97a2;
  font-weight: 700;
}
#heading2 {
  color: #1a97a2;
  font-weight: 700;
}
.written-box {
  width: 400px;
}

.inline {
  display: inline-block;
}
.box-para {
  width: 400px;
  text-align: justify;
}
#img-profile2 {
  width: 150px;
  border-radius: 50%;
}
#img-profile3 {
  width: 150px;
  border-radius: 50%;
}
.bottom-container {
  height: 0px;
}
