* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(218, 209, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
}

.btn-conainer {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 30px;
  border: none;
  background-color: rgb(71, 0, 0);
  color: #fff;
  padding: 20px 50px;
  border-radius: 18px;
  font-size: 20px;
  transition: 150ms;
}

button:hover {
  filter: brightness(200%);
}

button:active {
  transform: translateY(5px);
}

#screen-selector-button {
  background-color: rgba(58, 71, 0, 0.65);
}
