@media only screen and (max-width: 600px) {
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  /* MAIN HERO */
  .t-100px {
    font-size: 50px;
  }

  .desktop {
    display: none;
  }

  .hidden {
    opacity: 0;
  }

  header {
    position: fixed;
    padding: 15px;
    width: 100%;
  }

  .header_con {
    border-radius: 20px;
    justify-content: space-between;
    backdrop-filter: blur(30px);
    align-items: center;
    padding: 10px 20px;
    width: 100%;
  }

  .headerfirstchild {
    justify-self: flex-start;
  }

  .zik_logo_text {
    margin-left: 10px;
  }

  .get_btn {
    background: rgba(96, 86, 235, 0.8);
    padding: 12px 20px;
  }

  .hero {
    padding: 30px;
    height: max-content;
    flex-direction: column;
    padding-top: 140px;
    margin-bottom: 20vh;
  }

  .phone {
    z-index: 0;
    width: 80%;
    margin-bottom: 200px;
  }

  .herop {
    z-index: 10;
    opacity: 0.5;
    font-size: 14px;
  }

  .heroh {
    margin-top: 50px;
    z-index: 10;
    font-size: 80px;
  }

  .column {
    flex-direction: column;
  }

  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */
  /* SECTIONS START */

  .notes {
    padding: 0 30px;
  }

  .great {
    background-color: #6056eb;
    display: block;
  }

  .supplier {
    height: max-content;
    background-color: #0d0d0d;
    padding: 30px;
    border-radius: 30px;
    flex-direction: column;
  }

  .supplier_down {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .circle_con {
    align-self: flex-start;
    margin-top: 50px;
    width: 30px;
    justify-content: space-between;
  }

  .circle {
    height: 12px;
    width: 12px;
    background-color: #6056eb;
    border-radius: 50%;
  }

  .circle2 {
    background-color: rgba(96, 86, 235, 0.5);
  }

  .s_text_con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sup_h {
    margin: 30px 0;
    margin-top: 0;
    font-weight: 600;
    font-size: 40px;
  }

  .sup_p {
    opacity: 0.6;
    font-size: 14px;
  }

  .sup_p:last-child {
    margin-top: 20px;
  }

  .start_bus {
    background-color: #fff;
    color: #0d0d0d;
    padding: 14px 24px;
    font-weight: 600;
    margin-top: 50px;
  }

  .get_zik {
    background-color: #fff;
    color: #0d0d0d;
    padding: 14px 24px;
    font-weight: 600;
    margin-top: 50px;
  }

  .consumer {
    height: max-content;
    background-color: #0d0d0d;
    padding: 30px;
    border-radius: 30px;
    flex-direction: column;
  }

  .con_p {
    opacity: 0.6;
    font-size: 14px;
  }
  .con_p_margin {
    opacity: 0.6;
    font-size: 14px;
    margin: 15px 0;
  }

  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  /* FORM */
  .sing_up_form {
    height: max-content;
    padding: 40px;
    border-radius: 40px;
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mail_img {
    width: 60%;
    margin-bottom: 50px;
  }
  .form_left {
    flex-direction: column;
    margin-bottom: 120px;
  }
  .form_h {
    font-size: 30px;
    margin-bottom: 20px;
  }

  #email_input {
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    color: #0d0d0d;
    height: 50px;
    padding: 0 20px;
    border: none;
    width: 100%;
  }

  #email_input::placeholder {
    color: #6c6c6c;
  }

  .sub_btn {
    height: 50px;
    margin-top: 20px;
    border: none;
  }
}
